<div class="header_father">
    <header class="header">
        <a class="name">Lucas</a>
        <nav>
            <a href="about">Sobre</a>
            <a href="skills">Habilidades</a>
            <a href="resume">Resumo</a>
            <a href="projects">Projetos</a>
            <a href="contact">Contato</a>
        </nav>
    </header>
    <div class="card_header">
    <div>
        <div class="picture_profile">
           <img src="../../../assets/profile.jpg" alt="profile" />
        </div>
       <div class="card_infos">
           <h1>Lucas Godoi</h1>
           <p>Web Full Stack Developer</p>
       </div>
    </div>
</div>
</div>
